<navadmin></navadmin>
<div class="row" ng-controller="adminPtoInteresController">
    <!-- <div class="container-fluid"> -->
    <div class="card col-sm-4 col-md-4">
        <div class="card">
            <button class="btn btn-primary" type="button" ng-click="selectCreate()" data-toggle="collapse" data-target="#menuCreacion" aria-expanded="false" aria-controls="menuCreacion">
                Crear puntos de interés
            </button>

            <div class="collapse" id="menuCreacion">
                <div class="card card-body">
                    <form>
                        <div class="alert alert-info" role="alert">
                            <small><b>Los campos con * son obligatorios</b></small>
                        </div>
                        <div class="form-group">
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingCreate" data-parent="#accordion">
                                <label>(*) Tipo de punto</label>
                                <select class="custom-select" ng-model="tipoSeleccionado"
                                        ng-options="tipo.nombre for tipo in tiposInteres | orderBy:'nombre' track by tipo.id"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="!tipoSeleccionado">
                            <div id="locationField">
                                <label>(*) Direccion <small>[escriba la dirección o seleccione desde el mapa]</small></label>
                                <input type="text" class="form-control" id="direccionAutocomplete" 
                                    ng-model="direccionSeleccionada" placeholder="Ingrese una direccion">
                            </div>
                            <!-- <script>
                                var autocomplete;
                          
                                function initAutocomplete() {
                                  // Create the autocomplete object, restricting the search to geographicallocation types.
                                  autocomplete = new google.maps.places.Autocomplete(
                                      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                                      {types: ['geocode']});
                          
                                  // callback q ejecuta al seleccionar una direccion
                                autocomplete.addListener('place_changed', mostrarDire);
                                }
    
                                function mostrarDire(){
                                    console.log("Esto seria la promesa");

                                    var place = autocomplete.getPlace();
                                    console.log(place.geometry.location.lat());
                                    console.log(place.geometry.location.lng());
                                }

                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDti7qoPD_lFYuAGLk7EuXYcJr913cbkW8&libraries=places&callback=initAutocomplete"
                                async defer></script> -->
                        </div>
                        <div class="form-group"  ng-hide="!tipoSeleccionado">
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingCreate" data-parent="#accordion">
                                <label>Nombre (*) </label>
                                <input type="text" class="form-control" id="inputNombre" 
                                    ng-model="nombrePunto" placeholder="pto_de_interes" required>
                            </div>
                        </div>
                        <!-- <div class="text-center btn-group-sm" ng-hide="!hayTipoSeleccionadoCreate()"> -->
                        <div class="text-center btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="guardarPunto()" ng-disabled="guardadoExitoso">Guardar punto</button>
                            <button type="button" class="btn btn-primary" ng-click="resetDatosCreate()" ng-disabled="!guardadoExitoso">Nuevo punto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ##################### EDICION ############################ -->
        <div class="card">
            <button class="btn btn-primary" type="button" ng-click="selectEdit()" data-toggle="collapse" data-target="#menuEdit" aria-expanded="false" aria-controls="menuEdit">
                Editar puntos de interés
            </button>

            <div class="collapse" id="menuEdit">
                <div class="card card-body">
                    <form>
                        <label class="text-center">Seleccione el tipo de los puntos que desea ver</label>
                        <br><br>
                        <div class="input-group">
                                <select class="custom-select" ng-model="nameTipoSeleccionado"
                                            ng-options="nametipo.nombre for nametipo in namesTiposInteres | orderBy:'clave' track by nametipo.id"></select>
                                <div class="input-group-append">
                                  <button class="btn btn-info" type="button" ng-click="buscarPuntos()">Buscar</button>
                                </div>
                        </div>
                        <div id="listPtoInteres" class="form-group" ng-hide="!tipoSeleccionadoUpdate">
                                <table class="table">
                                        <tr ng-repeat="punto in ptosInteresByTipo.slice(((pagActual-1)*cantForPage), ((pagActual)*cantForPage))"
                                        ng-click="setPuntoSelected(punto)" ng-class="{sel:punto.id==idPuntoFilaSeleccionada}">
                                        <!-- data-toggle="modal" data-target="#exampleModal"> -->
                                        <td>{{punto.nombre}}</td>
                                        </tr>
                                </table>
                                <!-- Modal -->
                                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true" ng-hide="!ptoInteresEditSelec">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edición de punto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            Perderá los cambios realizados.
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" ng-click="actualizarDatosPuntoSeleccionado()">Confirmar</button>
                                        </div>
                                    </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <nav class="navbar navbar-expand-md" aria-label="...">
                                            <ul class="pagination">
                                            <li class="page-item disabled">
                                                <button type="button" class="btn btn-primary" ng-click="pagAnterior()"><<|</button>
                                            </li>
                                            <li class="page-item" href="#">
                                                <a class="page-link"> página {{pagActual}}/{{pagTotal}}</a>
                                            </li>
                                            <li class="page-item">
                                                <button type="button" class="btn btn-primary" ng-click="pagSiguiente()" >|>></button>
                                            </li>
                                            </ul>
                                    </nav>
                                </div>
                                <hr>
                                <div class="text-center" ng-hide="!ptoInteresEditSelec">
                                    <h6> <b>Datos nuevos del punto</b></h6>
                                    <br>
                                </div>
                                <div class="alert alert-info" role="alert">
                                    <small>Para editar la ubicación arrastre el marcador en el mapa</small>
                                </div>
                                <div class="row form-group text-left" ng-hide="!ptoInteresEditSelec">
                                    <label for="exampleInputEmail1" class="col-sm-5 col-form-label">Nombre nuevo:</label>
                                    <input type="text" class="form-control col-sm-7" id="nombrePuntoNuevo" 
                                        ng-model="nuevoNombre" placeholder="nuevo nombre">
                                </div>
                                <div class="row form-group text-left" ng-hide="!ptoInteresEditSelec">
                                    <label for="exampleInputEmail1" class="col-sm-5 col-form-label">Asignar nuevo tipo:</label>
                                    <select class="custom-select col-sm-7" ng-model="nuevoTipoPunto"
                                        ng-options="tipo.nombre for tipo in tiposInteres | orderBy:'nombre' track by tipo.id"></select>
                                </div>
                                <div class="text-center btn-group-sm" ng-hide="!ptoInteresEditSelec">
                                    <!-- <button type="button" class="btn btn-info" ng-click="cancelarCambios()" ng-disabled="!hayCambios()">Cancelar cambios</button> -->
                                    <button type="button" class="btn btn-info" ng-click="cancelarCambios()">Cancelar cambios</button>
                                    <button type="submit" class="btn btn-primary" ng-click="guardarCambios()" >Guardar cambios</button>
                                    <button type="button" class="btn btn-danger" ng-click="eliminarPunto()" >Borrar punto</button>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ######################################################
        ################## MJES DE INFO ####################### -->
        <!-- operacion exitosa -->
        <div class="modal fade" id="mod-operacion-exitosa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  La operacion fue realizada con exito
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>

        <!-- no hay cambios realizados -->
        <div class="modal fade" id="mod-sin-cambios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  No se han realizado cambios
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>

        <!-- faltan datos -->
        <div class="modal fade" id="mod-faltan-datos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p><b>¡Faltan datos!</b></p>
                    <p>Verfique los campos obligatorios (*)</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>

        <!-- control seleccion tipo de punto -->
        <div class="modal fade" id="mod-falta-tipopunto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>Debe seleccionar un tipo de punto.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- descartar cambios -->
        <div class="modal fade" id="mod-sin-cambios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Ver esto
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>
        
        <!-- ###################################################### -->
    </div>

    <div class="card col-sm-8 col-md-8">
        <div class="container-fluid-map">
            <div id="map" class="map" style="position: fixed;"></div>
        </div>
    </div>
</div>