<navadmin></navadmin>
<div class="row" ng-controller="adminTipoInteresController">
    <div class="card col-sm-12 col-md-12" style="text-align: center">
        <div class="card-header">
            <h4>Administración de tipos de puntos de interes</h4>
        </div>
        <div class="row">
            <!-- ################## CREACION ################## -->
            <div class="card-body col-sm-6 col-md-6">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">Creación de tipos de puntos de interes</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" role="alert">
                            <small><b>Los campos con * son obligatorios</b></small>
                        </div>
                        <div id="formGroupCreate" class="form-group text-left">
                            <label for="exampleInputEmail1" class="col-form-label">Nombre (*)</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" 
                                ng-model="tipoPtoInteresCreate.nombre" placeholder="nombre del tipo de punto de interes">
                        </div>
                        <!-- <div id="formGroupCreate" class="form-group text-left">
                            <label for="exampleInputEmail1" class="col-form-label">Icono (*) <small>[sera la imagen con la que se mostrara el punto en el mapa]</small> </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" 
                                ng-model="tipoPtoInteresCreate.icono" placeholder="Seleccione una imagen">
                        </div> -->
                        <div id="botonesEdicion" class="text-center btn-group-sm">
                            <button type="submit" class="btn btn-success" ng-click="crearTipoPtoInteres()" ng-disabled="!creandoTipo">Guardar datos</button>
                            <button type="button" class="btn btn-info" ng-click="resetDatosCreate()" ng-disabled="!guardadoExitoso" >Crear nuevo tipo</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ################## EDICION ################### -->
            <div class="card-body col-sm-6 col-md-6">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">Edición de tipos de puntos de interes</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Seleccione un tipo de punto de interes</label>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionEdition">
                                <div class="card-body">
                                    <select class="custom-select" ng-change="changeTipoSel()" ng-model="tipoPtoInteresSeleccionado"
                                        ng-options="tipointeres.nombre for tipointeres in tiposPtoInteres | orderBy:'nombre' track by tipointeres.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="text-left  col-sm-11 col-md-11" ng-hide="!tipoSeleccionado">
                            <h5>Datos del tipo de punto</h5>
                            <hr>
                            <div class="alert alert-warning text-center" role="alert">
                                <small><b>Los campos con * son obligatorios</b></small>
                            </div>

                            <div id="formGroupEdit" class="form-group">
                                <label class="col-form-label">Nombre (*)</label>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control mb-1" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        ng-model="dataTipoInteresUpdate.nombre" required />
                                </div>
                            </div>
                            <!-- <div id="formGroupEdit" class="form-group">
                                <label class="col-form-label">Icono (*) <small>[imagen que portara el marcador en el mapa]</small></label>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control mb-1" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        ng-model="dataTipoInteresUpdate.icono" required />
                                </div>
                            </div> -->
                            <div id="botonesEdicion" class="text-center btn-group-sm">
                                <button type="submit" class="btn btn-info" ng-click="descartarCambios()">Descartar cambios</button>
                                <button type="submit" class="btn btn-success" ng-click="actualizarTipo()">Guardar cambios</button>
                                <button type="button" class="btn btn-danger" ng-click="confirmaEliminarTipo()">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##################################################################
    ###################### MODAL MJES INFO ########################### -->
    <!-- faltan datos -->
    <div class="modal fade" id="mod-faltan-datos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>¡Faltan datos!</b></p>
                    <p>Verfique los campos obligatorios (*)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- operacion exitosa -->
    <div class="modal fade" id="mod-operacion-exitosa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  La operacion fue realizada con exito
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
    </div>

    <!-- descartar cambios -->
    <div class="modal fade" id="mod-descartar-cambios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Se perderan los datos realizados
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-info" ng-click="confirmaSalir()" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
    </div>

    <!-- no hay cambios realizados -->
    <div class="modal fade" id="mod-sin-cambios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              No se han realizado cambios
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
    </div>

    <!-- confirma eliminar linea -->
    <div class="modal fade" id="mod-eliminar-elemento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MiRuta2018</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Esta seguro de eliminar el elemento seleccionado?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-info" ng-click="eliminarTipoInteres()" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
    </div>
</div>
